{%- if site.posts.size > 0 -%}
<ul>
    {%- for post in site.posts -%}
    <li>
        <h2>
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <p><i>
            <time>{{ post.date | date: "%Y-%m-%d" }}</time>
        </i></p>
        <p>
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        </p>
        <p><a href="{{ post.url | relative_url }}">Read more...</a></p>
    </li>
    {%- endfor -%}
</ul>

<p>Subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p>
{%- endif -%}