---
layout: default
---
{%- if page.use-math -%}
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript"></script>
{%- endif -%}

<article>
    <header>
        <h1>{{ page.title | escape }}</h1>
        <p>
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
            {%- if page.author -%}
            <span>&ndash; {{ page.author }}</span>
            {%- endif -%}
        </p>
    </header>

    <div>
        {{ content }}
    </div>
</article>
