---
layout: default
---
{%- if page.use-math -%}
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript"></script>
{%- endif -%}

<article>
    <header>
        <h1>{{ page.title | escape }}</h1>
        <p>
            <i>
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%Y-%m-%d" }}
            </time>
            {%- if page.author -%}
            &ndash; {{ page.author }}
            {%- endif -%}
            </i>
        </p>
    </header>

    <div>
        {{ content }}
    </div>
</article>
